.color_0 {
  color: #ffffff;
}
.backcolor_0 {
  background-color: #ffffff;
}
.color_1 {
  color: #ffffff;
}
.backcolor_1 {
  background-color: #ffffff;
}
.color_2 {
  color: #000000;
}
.backcolor_2 {
  background-color: #000000;
}
.color_3 {
  color: #ed1c24;
}
.backcolor_3 {
  background-color: #ed1c24;
}
.color_4 {
  color: #0088cb;
}
.backcolor_4 {
  background-color: #0088cb;
}
.color_5 {
  color: #ffcb05;
}
.backcolor_5 {
  background-color: #ffcb05;
}
.color_6 {
  color: #727272;
}
.backcolor_6 {
  background-color: #727272;
}
.color_7 {
  color: #b0b0b0;
}
.backcolor_7 {
  background-color: #b0b0b0;
}
.color_8 {
  color: #ffffff;
}
.backcolor_8 {
  background-color: #ffffff;
}
.color_9 {
  color: #727272;
}
.backcolor_9 {
  background-color: #727272;
}
.color_10 {
  color: #b0b0b0;
}
.backcolor_10 {
  background-color: #b0b0b0;
}
.color_11 {
  color: #ffffff;
}
.backcolor_11 {
  background-color: #ffffff;
}
.color_12 {
  color: #f7f7f7;
}
.backcolor_12 {
  background-color: #f7f7f7;
}
.color_13 {
  color: #c6c6c6;
}
.backcolor_13 {
  background-color: #c6c6c6;
}
.color_14 {
  color: #949494;
}
.backcolor_14 {
  background-color: #949494;
}
.color_15 {
  color: #3b3a3a;
}
.backcolor_15 {
  background-color: #3b3a3a;
}
.color_16 {
  color: #f9eeb1;
}
.backcolor_16 {
  background-color: #f9eeb1;
}
.color_17 {
  color: #f3e389;
}
.backcolor_17 {
  background-color: #f3e389;
}
.color_18 {
  color: #edcd1f;
}
.backcolor_18 {
  background-color: #edcd1f;
}
.color_19 {
  color: #9e8915;
}
.backcolor_19 {
  background-color: #9e8915;
}
.color_20 {
  color: #4f440a;
}
.backcolor_20 {
  background-color: #4f440a;
}
.color_21 {
  color: #c0d2e5;
}
.backcolor_21 {
  background-color: #c0d2e5;
}
.color_22 {
  color: #99b2ca;
}
.backcolor_22 {
  background-color: #99b2ca;
}
.color_23 {
  color: #5b86b0;
}
.backcolor_23 {
  background-color: #5b86b0;
}
.color_24 {
  color: #3d5975;
}
.backcolor_24 {
  background-color: #3d5975;
}
.color_25 {
  color: #1e2d3b;
}
.backcolor_25 {
  background-color: #1e2d3b;
}
.color_26 {
  color: #ffbbc2;
}
.backcolor_26 {
  background-color: #ffbbc2;
}
.color_27 {
  color: #ff9aa3;
}
.backcolor_27 {
  background-color: #ff9aa3;
}
.color_28 {
  color: #ff3447;
}
.backcolor_28 {
  background-color: #ff3447;
}
.color_29 {
  color: #aa232f;
}
.backcolor_29 {
  background-color: #aa232f;
}
.color_30 {
  color: #551118;
}
.backcolor_30 {
  background-color: #551118;
}
.color_31 {
  color: #badead;
}
.backcolor_31 {
  background-color: #badead;
}
.color_32 {
  color: #8fbd7f;
}
.backcolor_32 {
  background-color: #8fbd7f;
}
.color_33 {
  color: #509c35;
}
.backcolor_33 {
  background-color: #509c35;
}
.color_34 {
  color: #356823;
}
.backcolor_34 {
  background-color: #356823;
}
.color_35 {
  color: #1b3412;
}
.backcolor_35 {
  background-color: #1b3412;
}
