#comp-ig9krioy #comp-ig9krioyinlineContent,
[id^="comp-ig9krioy"] [id^="comp-ig9krioy__"][id$="inlineContent"] {
  height: auto;
  width: 300px;
}

#comp-ig9krioy #comp-ig9krioyinlineContent-gridWrapper,
[id^="comp-ig9krioy"] [id^="comp-ig9krioy__"][id$="inlineContent-gridWrapper"] {
}

#comp-ig9krioy #comp-ig9krioyinlineContent-gridContainer,
[id^="comp-ig9krioy"]
  [id^="comp-ig9krioy__"][id$="inlineContent-gridContainer"] {
  position: static;
  display: grid;
  height: auto;
  width: 100%;
  min-height: auto;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 100%;
}

[id^="comp-ig9krioy"]
  #comp-ig9krioyinlineContent-gridContainer
  > #comp-ig277xw1,
[id^="comp-ig9krioy__"] > [id^="comp-ig277xw1"] {
  position: relative;
  margin: 34px 0px 16px 0;
  left: 27px;
  grid-area: 1 / 1 / 2 / 2;
  justify-self: start;
  align-self: start;
}

[id^="comp-ig9krioy"]
  #comp-ig9krioyinlineContent-gridContainer
  > #comp-ig9krip2,
[id^="comp-ig9krioy__"] > [id^="comp-ig9krip2"] {
  position: relative;
  margin: 0px 0px 35px 0;
  left: 28px;
  grid-area: 2 / 1 / 3 / 2;
  justify-self: start;
  align-self: start;
}

#comp-ig9krioyinlineContent,
[id^="comp-ig9krioy__"][id$="inlineContent"] {
  position: relative;
}

#comp-ig9krioycenteredContent,
[id^="comp-ig9krioy__"][id$="centeredContent"] {
  position: relative;
}

#comp-ig9krioyinlineContent-gridWrapper,
[id^="comp-ig9krioy__"][id$="inlineContent-gridWrapper"] {
  pointer-events: none;
}

#comp-ig9krioyinlineContent-gridContainer > *,
[id^="comp-ig9krioy__"][id$="inlineContent-gridContainer"] > * {
  pointer-events: auto;
}

#comp-ig9krioyinlineContent-gridContainer > [id$="-rotated-wrapper"],
[id^="comp-ig9krioy__"][id$="inlineContent-gridContainer"]
  > [id$="-rotated-wrapper"] {
  pointer-events: none;
}

#comp-ig9krioyinlineContent-gridContainer > [id$="-rotated-wrapper"] > *,
[id^="comp-ig9krioy__"][id$="inlineContent-gridContainer"]
  > [id$="-rotated-wrapper"]
  > * {
  pointer-events: auto;
}
