.font_0 {
  font: normal normal normal 22px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #1e2d3b;
}
.font_1 {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light,
    din-next-w10-light, sans-serif;
  color: #949494;
}
.font_2 {
  font: normal normal normal 55px/1.4em avenir-lt-w01_85-heavy1475544,
    sans-serif;
  color: #c6c6c6;
}
.font_3 {
  font: normal normal normal 60px/1.4em avenir-lt-w01_85-heavy1475544,
    sans-serif;
  color: #3b3a3a;
}
.font_4 {
  font: normal normal normal 40px/1.4em avenir-lt-w01_85-heavy1475544,
    sans-serif;
  color: #949494;
}
.font_5 {
  font: normal normal normal 25px/1.4em avenir-lt-w01_85-heavy1475544,
    sans-serif;
  color: #1e2d3b;
}
.font_6 {
  font: normal normal normal 22px/1.4em avenir-lt-w01_85-heavy1475544,
    sans-serif;
  color: #3d5975;
}
.font_7 {
  font: normal normal normal 17px/1.4em helvetica-w01-light, helvetica-w02-light,
    sans-serif;
  color: #3b3a3a;
}
.font_8 {
  font: normal normal normal 15px/1.4em helvetica-w01-light, helvetica-w02-light,
    sans-serif;
  color: #3b3a3a;
}
.font_9 {
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,
    sans-serif;
  color: #3b3a3a;
}
.font_10 {
  font: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light,
    din-next-w10-light, sans-serif;
  color: #949494;
}
