.style-k089oosj[data-is-responsive="false"] {
  width: 0 !important;
  min-width: 0 !important;
}
.style-k089oosj[data-is-responsive="false"] .style-k089oosjline {
  margin-left: -1px;
  width: 100%;
}
.style-k089oosjline {
  border-left: 2px solid rgba(255, 255, 255, 1);
  height: 100%;
}
